.wrapper {
    padding: 180px 0 0 0;
}

.title {
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.05em;
    text-align: left;
    padding-bottom: 32px;
    border-bottom: 1px solid #0000001A;

}

.navbar {
    border-bottom: 1px solid #0000001A;
    display: flex;
    align-items: center;
    column-gap: 41px;
    white-space: nowrap;
    overflow-x: scroll;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar {
    scrollbar-width: none;
    /* скрываем ширину скроллбара */
}

.navbar span {
    padding: 22px 0;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #808080;
    cursor: pointer;
    user-select: none;

}

.selected {
    border-bottom: 3px solid black;
}

@media (max-width: 1024px) {
    .navbar {
        column-gap: 20px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 40px;
    }

    .navbar span {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .title {
        padding-bottom: 14px;
        line-height: 45px;
    }

    
    .navbar span{
        padding: 8px 0 10px;
        font-size: 18px;

        line-height: 22px;
    }
}