.wrapper {
    background: linear-gradient(180deg, #1E1E1E 0%, #262626 100%);
    padding: 14px 16px;
    box-shadow: 0px 0px 1px 0px #FFFFFF99 inset;
    box-shadow: 0px 0px 1px 0px #C9C9C959 inset;
    border-radius: 12px;
position: relative;
cursor: pointer;
}
.wrapper a, .wrapper div {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #E5E5E5;
    text-decoration: none;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.03em;

}

.wrapper::after{
    position: absolute;
    top: -0.5px;
    bottom: -0.5px;
    left: -0.5px;
    right: -0.5px;
    background:  radial-gradient(273.57% 271.65% at 153.12% -133.36%, #4A4A4A 0%, #000000 52.63%, #4A4A4A 100%);
    content: '';
    z-index: -1;
    border-radius: 12px;

}

